* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #181818;
}

/* Background untuk seluruh halaman */
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("profil\ .jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 105vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  opacity: 90%;
}

.logo {
  font-size: 34px;
  font-family: "Brush Script MT", cursive;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-left: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.intro {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.text-content {
  max-width: 400px;
  align-items: center;
  gap: 30px;
  font-family: Arial, sans-serif;
  color: #fff;
  margin-right: 900px;
  font-size: 20px;
}

.text-content h1 {
  font-size: 46px;
}

.text-content h2 {
  color: red;
  font-size: 38px;
}

.text-content p {
  margin: 20px 0;
  line-height: 1.6;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.character-art {
  position: absolute;
  top: 0px;
  margin-top: 90px;
  right: 1px;
  max-width: 555px;
}

/* <---------------Skill project-----------> */
.skill-section {
    text-align: center;
    padding: 50px;
    background-color: #2b2a2a;
    color: #fff;
    height: 550px;
}

.skill-section h2 {
    font-size: 62px;
    margin-bottom: 20px;
}

.skill-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    position: relative;
    width: 100%;
    background-color: #50505000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 0 1px #ffffff56;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(100%);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: translateY(0);
}

.card__title {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
}

.card__description {
    font-size: 14px;
    color: #a4a3a3;
    line-height: 1.4;
    margin: 0;
}


/* <--------project----------> */

.projects {
  width: 90%;
  max-width: 1000px;
  text-align: center;
  margin: 20px auto;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #e0e0e0;
  position: relative;
}

.projects h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #e74c3c;
  margin: 10px auto;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 2rem;
  border: 1px solid #e74c3c;
}

.project-info,
.project-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-info {
  padding: 10px;
}

.project-info h3 {
  color: #e74c3c;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.project-info p {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.project-info button:hover {
  background-color: #e74c3c;
  color: #ffffff;
}

.project-image img {
  width: 100%;
  max-width: 200%;
  border-radius: 8px;
}

.projects {
  width: 90%;
  max-width: 1000px;
  text-align: center;
  margin: 20px auto;
}

.projects h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #e0e0e0;
  position: relative;
}

.projects h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #e74c3c;
  margin: 10px auto;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 2rem;
  border: 1px solid #e74c3c;
}

.project-info,
.project-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-info {
  padding: 10px;
}

.project-info h3 {
  color: #e74c3c;
  margin-bottom: 10px;
  font-size: 2rem;
}

.project-info p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.project-image img {
  width: 100%;
  max-width: 200%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project-image img:hover {
  justify-content: center;
  transform: scale(1.5);
}

/* <---------------------> */
/* ===== DOWNLOAD CV BUTTON ===== */
.btn-dwl,
.btn-dwl *,
.btn-dwl :after,
.btn-dwl :before,
.btn-dwl :after,
.btn-dwl :before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-dwl {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #635a5a;
  background-image: none;
  color: #e5e5e5;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000000, #fff);
  padding: 0;
}

.btn-dwl:disabled {
  cursor: default;
}

.btn-dwl:-moz-focusring {
  outline: auto;
}

.btn-dwl svg {
  display: block;
  vertical-align: middle;
}

.btn-dwl [hidden] {
  display: none;
}

.btn-dwl {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-dwl .original {
  background: #d11515bf;
  color: #f3f3f3d2;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-dwl:hover .original {
  transform: translateY(100%);
}

.btn-dwl .letters {
  display: inline-flex;
}

.btn-dwl span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-dwl span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-dwl:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-dwl:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-dwl:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-dwl:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-dwl:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-dwl:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.btn-dwl:hover span:nth-child(7) {
  transition-delay: 0.6s;
}

.btn-dwl:hover span:nth-child(8) {
  transition-delay: 0.7s;
}

/* <------------CONTACT------------ */
/* FORM CONTAINER */
form {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #0f0f0f;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

/* INPUT FIELDS */
form input,
form textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 2px solid #c92020;
  border-radius: 8px;
  background: #17121254;
  color: #ffffff;
  font-size: 1em;
  transition: all 0.3s ease;
  outline: none;
}

/* HOVER & FOCUS EFFECTS */
form input:focus,
form textarea:focus {
  border-color: #d46262;
  background: #1e1e2b;
  box-shadow: 0 0 8px rgba(186, 20, 20, 0.8);
}

/* TEXTAREA SPECIFIC STYLING */
form textarea {
  height: 120px;
  resize: none;
}

/* SUBMIT BUTTON */
/* From Uiverse.io by adamgiebl */
button {
  --red: #fd1b1b;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(253, 27, 27, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(253, 27, 27, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.4),
    0 0 9px 3px rgba(253, 27, 27, 0.1);
}

button:hover {
  color: #ffffff;
  box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.6),
    0 0 9px 3px rgba(253, 27, 27, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(253, 27, 27, 0.1) 40%,
    rgba(253, 27, 27, 0.1) 60%,
    transparent 100%
  );
}

button:hover:before {
  transform: translateX(15em);
}

/* Tombol Submit */
button {
  background-color: #c71c1c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, var(--primary-color), var(--button-hover));
}

/* <------footer-------> */

footer {
  background-color: #0e0e0e;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

footer p {
  margin: 10px 0;
  font-size: 16px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.social-media .icon {
  width: 40px;
  height: 40px;
}

.social-media .icon img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

footer p:last-of-type {
  font-size: 14px;
  color: #666;
}

/* From Uiverse.io by mobinkakei */
.wrapper {
  width: 200px;
  height: 60px;
  margin-left: 650px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #ece0f5,
    #ebc1c1,
    #e1a3a3,
    #d27474,
    #c22b2b,
    #b93c3c,
    #b93c3c,
    #fc0000
  );
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
/* <---------------------------------------> */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider {
  overflow: hidden;
  background-color: rgba(167, 11, 11, 0.727);
  margin: 0 15px;
  height: 90px;
  width: 20px;
  border-radius: 30px;
  box-shadow: 15px 15px 20px rgba(255, 0, 0, 0.1), -15px -15px 30px #f3000038,
    inset -5px -5px 10px rgba(0, 0, 240, 0.1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #3705ffa0,
    inset 0px 0px 0px rgb(26, 255, 0);
  animation: animate_2 2.5s ease-in-out infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate_2 {
  0% {
    transform: translateY(250px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
    filter: hue-rotate(180deg);
  }
}
